.body {
  margin: 0 auto;
  padding: 0;
  background-color: #1e1e1e;
  font-family: 'Inter';
  font-weight: 400;
  width: 360px;
  height: 4160px;
}

.h1, h2, h3, h4, h5, h6, p, ul, ol, blockquote {
  margin: 0;
  padding: 0;
}

.content-section {
  box-sizing: border-box;
  width: 360px;
  margin: 0 auto;
}

.content-section_theme_dark {
  background-color: #131313;
  color: white;
  margin: 0 auto;
  width: 360px;
}

.content-section_theme_bright {
  background-color: #FEE42A;
  color: black;
  width: 360px;
  margin: 0 auto;
}

.header {
  display: flex;
  width: 360px;
  height: 132px;
  justify-content: space-between;
  padding-bottom: 7px;
}

.header_logo {
  position: absolute;
  padding: 24px 0px 24px 20px;
}

.header__logo-image {
  width: 78px;
  height: 15px;
}

.header_menu-list {
  display: flex;
  list-style: none;
  flex-direction: column;
  margin-top: 24px;
  margin-right: 20px;
  margin-bottom: 24px;
  row-gap: 12px; 
}

.header__menu-item_active {
  color: var(--text-light, #F5F5F5);
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 19.2px; /* 120% */
}

.header__menu-link {
  color: var(--text-light, #F5F5F5);
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 19.2px;
  text-decoration-line: underline;
}

.cover {
  width: 360px;
  height: 221px;
  margin-right: 0;
  padding-top: 7px;
}

.accent-span {
  width: 339px;
  height: 198px;
  background-image: url(../images/cover.svg);
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 21px;
  font-family: EB Garamond, serif;
  font-size: 72px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 72px */
}

.cover-title {
  text-align: left;
  display: block;
  margin-top: 7px;
  margin-right: 288px;
  margin-left: 20px;
  font-size: 72px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 72px */
}

.text-center {
  text-align: center;
  display: block;
  width: 226px;
  height: 72px;
  margin-right: 67px;
  margin-left: 46px;
}

.text-right {
  text-align: right;
  display: block;
  width: 161px;
  height: 72px;
  margin-right: 24px;
  margin-left: 154px;
}

.intro {
  width: 360px;
  height: 453px;
  margin: 0 auto;
  padding-bottom: 38px;
}

.intro__heading {
  width: 320px;
  font-family: Inter, sans-serif;
  color: var(--text-gray, #CCC);
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 19.2px */
  display: flex;
}
  
.intro__title {
  margin: 0px auto 0px 0px;
  padding: 30px 0 20px 20px;
}
  
.intro__date {
  white-space: nowrap;
  padding-top: 30px;
  justify-content: space-between;
}
  
.intro__main-text {
  overflow-wrap: break-word;
  width: 320px;
  height: 281px;
  padding: 0 20px;
  color: #F5F5F5;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 21.6px; /* 135% */
  display: inline-flex;
  flex-direction: column;
  gap: 24px;
}

.reasons {
  background: var(--yellow-bg, #fee42a);
  width: 320px;
  height: 1368px;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  flex-shrink: 0;
  margin: 0 auto;
}

.content-section__subtitle {
  color: var(--black-bg, #131313);
  font-family: EB Garamond, serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 115%;
  display: block;
}
  
.reasons__text-right {
  width: 320px;
  height: 31.5px;
  text-align: right;
}
  
.reasons__text-left {
  width: 320px;
  height: 31.5px;
  text-align: left;
}

.content-section__introduction {
  color: var(--black-bg, #131313);
  overflow-wrap: break-word;
  height: 297px;
  font-family: Inter, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px; /* 135% */
  display: block;
  margin-top: 32px;
}

.content-section__list {
  width: 304px;
  padding-left: 16px;
  margin-top: 16px;
}

.content-section__list-item {
  display: flex;
  flex-direction: column;
  overflow-wrap: break-word;
  margin-right: 20px;
  gap: 16px;
  color: var(--black-bg, #131313);
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 21.6px;
}

.content-section__list-accent {
  color: var(--black-bg, #131313);
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 21.6px;
}

.how-to {
  background-color: #131313;
  width: 320px;
  height: 1749px;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  flex-shrink: 0;
  margin: 0 auto;
}

.how-to-section__subtitle {
  color: #F5F5F5;
  font-family: EB Garamond, serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 115%; /* 32.2px */
}

.how-to-section_introduction {
  font-family: Inter, sans-serif;
  color: #f5f5f5;
  font-size: 20px;
  font-style: normal;
  margin-top: 32px;
  margin-bottom: 32px;
  font-weight: 400;
  line-height: 135%;
  width: 320px;
  height: 135px;
}

.card_theme_dark {
  border-radius: 30px;
  background: var(--gray-bg, #343434);
}

.card_theme_bright {
  border-radius: 30px;
  background: var(--yellow-bg, #fee42a);
}

.card-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 20px 20px;
}

.card__author-photo {
  width: 100px;
  height: 100px;
  border-radius: 50px;
}

.card__author-name {
  color: #f5f5f5;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 135%; /* 21.6px */
}

.card__title {
  color: #f5f5f5;
  font-family: EB Garamond, serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 135%;
}

.card__text {
  color: #f5f5f5;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 21.6px;
}

.card_text-only {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 20px 20px;
}

.card_text-only .card__title {
  color: var(--black-bg, #131313);
  font-family: EB Garamond, serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 135%;
}

.card_text-only .card__text {
  color: var(--black-bg, #131313);
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 21.6px;
}

.footer {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid var(--yellow-bg, #fee42a);
  width: 360px;
  align-items: center;
}

.footer__copy {
  padding: 20px;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 135%; /* 21.6px */
}

.footer__links {
  display: flex;
  gap: 16px;
  padding: 20px;
  font-family: Inter, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
}